/target
/.classpath
/.project
/build
.DS_Store
/.idea
/src/main/webapp/WEB-INF/classes
src/main/webapp/static/**/.cache/
/src/main/webapp/.idea/

*.iml
*.ipr
*.iws
.gradle/
.arrow*
node_modules
src/main/webapp/WEB-INF/jsp/crm/worktable/out/
src/main/webapp/META-INF/war.properties
/out
/dist
*/build/
src/main/webapp/vendor/
src/main/webapp/app/
bower_components/
classes/
test/cache

src/main/webapp/WEB-INF/velocity/prod/

gradle/

